.headerRibbon {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: var(--color1);
    z-index: 1000;
    margin: 0;
    border: 2px solid var(--color2);
}

.title {
    margin-top: 25px;
}

.titleLink {
    margin-left: -50px;
    font-size: 2.6rem;
    color: var(--color2);
    text-decoration: none;
    text-align: center;
}

.verticalLine {
    height: 100px;
    margin-right: 150px;
    border-left: 2px solid var(--color2);
}

.headerItem {
    position: relative;
    margin-top: 35px;
}

.optionButton {
    border: none;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color2);
    cursor: pointer;
    text-decoration: none;
}

.dropdownMenu {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    position: absolute;
    top: calc(100%);
    background-color: var(--color1);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.18);
    min-width: 180px;
    z-index: 2;
}

.dropdownMenu li {
    padding: 14px;
    transition: all 0.3s ease;
    text-align: center;
}

.dropdownMenu li:hover {
    background-color: var(--color3);
    color: var(--color1);
    cursor: pointer;
}

.homeTitle {
    color: var(--color1);
    text-align: center;
    margin-top: 200px;
}

.homeOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.homeOption {
    width: 200px;
    height: 300px;
    display: inline-block;
    color: var(--color2);
    background-color: var(--color1);
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.homeOption:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.6);
}
