.contactDiv {
    margin-top: 180px;
    color: var(--color2);
    text-align: center;
    width: 500px;
    height: auto;
    background-color: var(--color1);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.contactTitle {
    padding-top: 30px;
    font-size: 1.8rem;
    margin-bottom: -10px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.contactInput {
    width: 300px;
    margin: auto;
}

.contactTextArea {
    width: 300px;
    height: 150px;
    margin: auto;
}

.contactButton {
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid var(--color2);
    background-color: var(--color1);
    color: var(--color2);
    transition: all 0.1s ease;
    cursor: pointer;
}

.contactButton:active {
    background-color: var(--color2);
    color: var(--color1);
    cursor: pointer;
}

